[versions]
androidGradlePlugin = "8.8.2"
compose = "1.8.3"
desugarJDK = "2.1.5"
dotsindicator = "5.1.0"
dragDropSwipeRecyclerView = "1.0.0"
emoji2 = "1.5.0"
firebaseMessagingKtx = "24.1.2"
flexbox = "3.0.0"
googleServices = "4.4.3"
hiltAndroid = "2.57"
hiltAndroidx = "1.2.0"
jsoup = "1.21.1"
junit = "4.13.2"
junitVersion = "1.2.1"
kotlin = "2.0.21" # Keep the same version as the one in Core
ksp = "2.0.21-1.0.28" # Keep the same version as the one in Core
leakcanaryAndroid = "2.14"
lifecycleProcess = "2.9.2"
lottie = "6.6.7"
mockitoKotlin = "6.0.0"
navigation = "2.9.2"
playServices = "18.7.2"
realmKotlin = "3.0.0"
richHtmlEditor = "0.2.0"
webkit = "1.14.0"
workConcurrentFutures = "1.3.0"

[libraries]
compose-ui-android = { module = "androidx.compose.ui:ui-android", version.ref = "compose" }
dotsindicator = { module = "com.tbuonomo:dotsindicator", version.ref = "dotsindicator" }
desugar-jdk = { module = "com.android.tools:desugar_jdk_libs", version.ref = "desugarJDK" }
dragdropswipe-recyclerview = { module = "com.github.infomaniak:DragDropSwipeRecyclerview", version.ref = "dragDropSwipeRecyclerView" }
emoji2-emojipicker = { module = "androidx.emoji2:emoji2-emojipicker", version.ref = "emoji2" }
firebase-messaging-ktx = { module = "com.google.firebase:firebase-messaging-ktx", version.ref = "firebaseMessagingKtx" }
flexbox = { module = "com.google.android.flexbox:flexbox", version.ref = "flexbox" }
google-services = { module = "com.google.gms:google-services", version.ref = "googleServices" }
hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "hiltAndroid" }
hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "hiltAndroid" }
hilt-compiler-androidx = { module = "androidx.hilt:hilt-compiler", version.ref = "hiltAndroidx" }
hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "hiltAndroidx" }
jsoup = { module = "org.jsoup:jsoup", version.ref = "jsoup" }
leakcanary-android = { module = "com.squareup.leakcanary:leakcanary-android", version.ref = "leakcanaryAndroid" }
lifecycle-process = { module = "androidx.lifecycle:lifecycle-process", version.ref = "lifecycleProcess" }
lottie = { module = "com.airbnb.android:lottie", version.ref = "lottie" }
navigation-safeargs = { module = "androidx.navigation:navigation-safe-args-gradle-plugin", version.ref = "navigation" }
play-services-base = { module = "com.google.android.gms:play-services-base", version.ref = "playServices" }
realm-kotlin-base = { module = "io.realm.kotlin:library-base", version.ref = "realmKotlin" }
rich-html-editor = { module = "com.github.infomaniak:android-rich-html-editor", version.ref = "richHtmlEditor" }
webkit = { module = "androidx.webkit:webkit", version.ref = "webkit" }
work-concurrent-futures = { module = "androidx.concurrent:concurrent-futures-ktx", version.ref = "workConcurrentFutures" }
# Unit tests
ext-junit = { module = "androidx.test.ext:junit", version.ref = "junitVersion" }
junit = { module = "junit:junit", version.ref = "junit" }
mockito-kotlin = { module = "org.mockito.kotlin:mockito-kotlin", version.ref = "mockitoKotlin" }

[plugins]
android-application = { id = "com.android.application", version.ref = "androidGradlePlugin" }
android-library = { id = "com.android.library", version.ref = "androidGradlePlugin" }
dagger-hilt = { id = "com.google.dagger.hilt.android", version.ref = "hiltAndroid" }
jetbrains-kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
jetbrains-kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
realm-kotlin = { id = "io.realm.kotlin", version.ref = "realmKotlin" }
kotlin-parcelize = { id = "kotlin-parcelize" }
navigation-safeargs = { id = "androidx.navigation.safeargs.kotlin" }
