html {
    caret-color: var(--kmail-primary-color);
}

body {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-family: 'Helvetica';
}

p {
    min-height: 1.4em;
    line-height: 1.4em;
    margin: 0;
}

.placeholder{
  color: #b3b3b3;

}
