html {
    margin: 0;
    padding: 0;
}

body {
    margin: 16px;
    padding: 0;
    width: auto !important;
}

blockquote {
    padding: 0.2em 1.2em !important;
    margin: 0 !important;
    border: 3px solid var(--kmail-primary-color) !important;
    border-width: 0 0 0 3px !important;
}

blockquote blockquote blockquote blockquote {
    padding: 0 !important;
    border: none !important;
}

a:link, a:visited, a:hover, a:active {
    color: var(--kmail-primary-color);
}
