<?xml version="1.0" encoding="utf-8"?><!--
  ~ Infomaniak Mail - Android
  ~ Copyright (C) 2022-2024 Infomaniak Network SA
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="*" />
        </intent>

        <package android:name="com.infomaniak.sync" />
        <package android:name="com.infomaniak.drive" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.Pink"
        android:usesCleartextTraffic="true"
        tools:targetApi="UPSIDE_DOWN_CAKE">

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://4b2bbd041f5046ac84563d7e2af13b7b@sentry-mobile.infomaniak.com/4" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- Disable default WorkManagerInitializer to use Hilt injection -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppThemeLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeLogin" />

        <activity
            android:name="com.infomaniak.lib.login.WebViewCreateAccountActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WebViewTheme" />

        <activity
            android:name="com.infomaniak.lib.login.WebViewLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WebViewTheme" />

        <activity
            android:name="com.infomaniak.lib.applock.LockActivity"
            android:exported="false"
            android:theme="@style/AppThemeLock" />

        <activity
            android:name="com.infomaniak.lib.stores.updaterequired.UpdateRequiredActivity"
            android:exported="false"
            android:theme="@style/AppThemeUpdateRequired" />

        <activity
            android:name=".ui.login.NoMailboxActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".ui.noValidMailboxes.NoValidMailboxesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.infomaniak.lib.bugtracker.BugTrackerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.newMessage.NewMessageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sync.SyncAutoConfigActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".receivers.RebootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationActionsReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/ATTACHMENTS_AUTHORITY"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/exposed_files_path" />
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

    </application>
</manifest>
