name: Android UI tests

on:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  instrumentation-tests:
    runs-on: [ self-hosted, Android ]

    steps:
      - name: Checkout the code
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ github.token }}
          submodules: recursive

      - name: Create test env
        run: touch uitest-env.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clean gradle cache
        run: ./gradlew clean

      - name: Run UI tests
        env:
          UI_TEST_ACCOUNT_EMAIL: ${{ secrets.UI_TEST_ACCOUNT_EMAIL }}
          UI_TEST_ACCOUNT_PASSWORD: ${{ secrets.UI_TEST_ACCOUNT_PASSWORD }}
        run: |
          ./gradlew ui-testStandardDebugAndroidTest --enable-display

      - name: Upload Test Report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-report
          path: app/build/reports/androidTests/managedDevice/debug/flavors/standard/allDevices

      - name: Create Github issue with tests failure
        if: failure()
        uses: actions/github-script@v7.0.1
        with:
          script: |
            await github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: 'UI tests failure',
              body: 'Workflow run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} failed.',
            })
